<div class="container">
  
  <div class="row about_row">

    <div class="span4 image_holder about_section ">
      <img src="/images/about/me_img.png" class="about_img">
    </div>
    <div class="span8 about_section">
      <p>My name is <em>Liam Brady</em>. I live in <em>Scotland</em>. I enjoy coding, being creative and working out. Feel free to reach out to me on <a href="http://www.liamseanbrady.wordpress.com" target="blank">my blog</a>! I'm always <em>open to learning from others</em>. </p>
    </div>

  </div>

  <hr>

  
  <div class="row about_row">

    <div class="span8 about_section">
            <p>The particular <em>coding challenges I faced</em> whilst building <em>FlatJack</em> were effectively <em>persisting data using a cookie</em>, and also dealing with the <em>growing complexity</em> of the <em>multiple files</em> that make up the application.</p>
    </div>
    <div class="span4 image_holder about_section">
      <img src="/images/about/code_img.png" class="about_img">
    </div>

  </div>

  <hr>

  
  <div class="row about_row">

    <div class="span4 image_holder about_section">
      <img src="/images/about/http_img.png" class="about_img">
    </div>
    <div class="span8 about_section">
      <p>I learned <em>a lot</em> about the <em>statelessness of HTTP</em> whilst building this app. I'd been exposed to<em> jQuery</em> and <em>AJAX </em>before, but this project really <em>helped me understand </em>how to use them in my own applications.</p>
    </div>

  </div>

</div>