<h4>How much would you like to bet?</h4>

<p>You currently have $<%= session[:player_money] %> to bet<p>

<form action="set_bet" method="post">
  <label>Place Bet</label>
  <input type="text" name="current_bet" >
  <input type="submit" value="Make Bet" class="btn">
</form>