<h4>You played Blackjack!</h4>

<p><strong>You finished the game with $<%= session[:player_money] %>. Don't bet, kids...</strong></p>

<p>Please come back and play when you have more money to give to us. <a href="/new_player">Start over</a></p>
